/*General Styles*/
* {
	/*Resize Floating point fix*/
 	-webkit-box-sizing: border-box;
 	-moz-box-sizing: border-box;
 	box-sizing: border-box; 
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: #E9EAED;
	/*background-color: red;*/
}

h1, h2 {
	font-weight: 100;
	font-size: 32px;
	padding: 10px 0 10px 20px;
}

h3, h4, h6 {
	font-weight: 300;
	padding: 10px 0 10px 20px;
}

.no_select {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a {
	color: #3366FF;
}

a:visited {
	color: #6633FF;
}

ul {
	padding: 0px 0 10px 80px;
}

.subHeading {
	padding-left: 40px;
}

.indent {
	padding-left: 10px;
}

.LINE_BREAK_HOR_85 {
	height: 1px;
	width: 85%;
	background-color: #A9A9A9;
	/*margin: 0 auto;*/
	margin: 40px auto 10px auto;
}

p {
	padding-left: 40px;
	padding-right: 40px;		
}

ul {
	padding-left: 80px;
	padding-right: 80px;
}

.email{
	color: #3366FF;
	text-decoration: underline;
}

.allow_select {
	-webkit-touch-callout: default;
    -webkit-user-select: default;
    -khtml-user-select: default;
    -moz-user-select: default;
    -ms-user-select: default;
    user-select: default;
}


/*Overall Container*/
#container {
	width: 1000px;
	margin: 0 auto;
	background-color: white;

	font-size: 18px;

	border-style: solid;
	border-width: 1px;
	border-color: #A9A9A9;
	padding-bottom: 20px;
}

/* Icon Container stylings*/
.IconContainer {
	padding-left: 40px;
}