/*General Styles*/
* {
	/*Resize Floating point fix*/
 	-webkit-box-sizing: border-box;
 	-moz-box-sizing: border-box;
 	box-sizing: border-box; 
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: #E9EAED;
}

h1, h2 {
	font-weight: 100;
	font-size: 32px;
	padding: 10px 0 0px 20px;
	margin: 0px;
}

h3, h4, h6 {
	font-weight: 300;
	padding: 10px 0 10px 20px;
}

p.heading {
	padding-left: 20px;
	padding-right: 40px;		
}

p {
	padding-left: 40px;
	padding-right: 40px;		
}

ul {
	padding-left: 60px;
	padding-right: 40px;
}

.no_select {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*Overall Container*/
#container {
	width: 1000px;
	margin: 0 auto;
	background-color: white;

	font-size: 18px;

	border-style: solid;
	border-width: 1px;
	border-color: #A9A9A9;
}


/* Tow column paragraph */
.TwoColumnContainer {
	/* To make parent div to have size of child div */
	overflow: hidden;
}

.rightColumn {
	width: 50%;
	float:left;
}

.leftColumn {
	width: 50%;
	float:left;
}

#name {
	margin-top: 10px;
	margin-bottom: 10px;
}

.LINE_BREAK_HOR_85_head {
	height: 1px;
	width: 85%;
	background-color: #A9A9A9;
	/*margin: 0 auto;*/
	margin: 10px auto 20px auto;
}

.LINE_BREAK_HOR_85 {
	height: 1px;
	width: 85%;
	background-color: #A9A9A9;
	/*margin: 0 auto;*/
	margin: 40px auto 30px auto;
}
